.card{
  width: 300px; /* Largura do card */
  margin: 20px; /* Espaçamento entre os cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
  border-radius: 10px; /* Bordas arredondadas */
}




