<div class="title"><h3>Cadastro de desenvolvedores</h3></div>
<div class="card">
  <form>
    <input
      class="form-control"
      placeholder="Nome"
      [(ngModel)]="desenvolvedor.nome"
      name="Nome"
    />
    <input
    class="form-control"
    placeholder="Niveis"
    [(ngModel)]="desenvolvedor.niveis"
    name="Nome"
  />

  </form>
</div>
<button type="button" class="btn btn-outline-secondary" (click)="createDesenvolvedores()">
  Salvar
</button>

<button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancelar</button>
