<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="pessoa/create">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pessoa">Editar</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet>

</router-outlet>


<footer>
  <p>&copy; 2024 - Desenvolvido para fins de Estudos.</p>
</footer>
