<div class="title"><h3>Editar cadastro de desenvolvedores</h3></div>
<div class="card">
  <form>
    <input
      class="form-control"
      placeholder="Nome"
      [(ngModel)]="desenvolvedor.nome"
      name="Nome"
    />
    <input
      class="form-control"
      placeholder="Nivel"
      [(ngModel)]="desenvolvedor.niveis"
      name="Nivel"
    />

  </form>
</div>
<button type="button" class="btn btn-outline-secondary" (click)="updateDesenvolvedores()">Salvar</button>

<button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancelar</button>
